body {
    background: linear-gradient(to left top, #2e3440, #3b4252, #4c566a, #463950);
    background-size: 600% 600%;
    display: flex;
    flex-direction: column;
}

#container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    margin-bottom: 80px;

    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 10px 32px rgba(0, 0, 0, 0.35),
        inset 0 0 0.5px rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

Form {
    border: #fff;

}

.login_input {
    border-radius: 8px;
}