body {
    background: linear-gradient(to left top, #2e3440, #3b4252, #4c566a, #463950);
    background-size: 600% 600%;
    display: flex;
    flex-direction: column;
}

#container {
    width: 90%; 
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.35),inset 0 0 0.5px rgba(255, 255, 255, 0.2);
    color: white;
}

#Login {
    width: 100%;
    max-width: 330px;
    border-radius: 5px;
    padding: 20px;
    display: none;

}

.login_input {
    border-radius: 8px;
}